


.nav_btn {
    border-radius: 4px;
    transition: all 0.4s;
    padding:0 4px 0 4px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .nav_btn:hover {
    background-color: #03fd9d;
    color: black;
    cursor: pointer;
  }
 
  .navblur {
    /* background: rgba(255, 255, 255, 0.66); */
    backdrop-filter: blur(24px);
}
  
  
  